doctype html
html
  head
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
    script(src='/assets/vendor/require-v2-1-16.js' data-main='/assets/start')
  body
    block content
