@require '../../__styles__/colors'
@require '../../__styles__/fonts'

.r-SetupContainer
  width 100%
  height 100%
  background-color red-900
  display -webkit-flex
  display flex
  justify-content -webkit-center
  justify-content center
  align-items -webkit-center
  align-items center

  .setup-centering
    text-align center
    max-width 1000px

    .setup-text
      font-family $roboto
      color #fff

    .setup-title
      font-size 7em

    .setup-tagline
      font-size 1.5em
      font-weight 300

    .setup-buttons
      margin-top 50px
